body {
    margin: 0;
}

.game{

    height: 100%;
    top: 0;
    padding: 30px;

}

.container {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    background: lightpink;
    width: 100%;
    padding: 30px;
}

.alphabet {
    padding: 20px;
}